<div data-role="page" id="catalog-p">
  <div data-role="header">
    <h1 data-volume-num="<%= vol_num %>"><%= title %></h1>
    <%- partial('widget/_play') %>
  </div><!-- /header -->
  <div data-role="content">
    <ol class="shelf">
    <% for (var i=catalog.length - 1; i >= 1; i--) { 
         if (! catalog[i]) continue;
         var v = catalog[i];
    %>
      <li class="volume"><div class="bow-cover-thumb"><a href="/volume-<%= i %>/"><img class="cover-thumb" alt="<%= v.title %> Cover" src="volume-<%= i %>/cover.jpg" /> <div class="title"><%= (v.subtitle || v.title).slice(0, 20) %></div>
        <ol>
          <% if (! v.tracks) continue;
             var a = artists(v.tracks);
             for (var j=0; j < a.length; j++) { 
               var artist = a[j];
               if (! artist) continue;
          %>
          <li> <%= artist %></li>
          <% } %>
        </ol></a></div></li>
    <% } %>
    </ol>
  </div><!-- /content -->
</div><!-- /page -->
  <!-- div data-role="footer" data-position="fixed">
    <h4>Ball of Wax Audio Quarterly is Copyright Levi Fuller 2004-2012</h4>
  </div --><!-- /footer -->
