<div data-role="page" id="tracks-p">
  <div data-role="header">
    <a href="" data-rel="back">Cover Artwork</a>
    <h1 data-volume-num="<%= vol_num %>"><%= title %></h1>
    <%- partial('widget/_play') %>
    <!-- a class="play-track" href="" data-ajax="false">Play Track</a -->
    <!-- TODO must be in site wide header -->    
  </div><!-- /header -->

  <div data-role="content" class="ui-grid-a">
    <div class="ui-block-a">
      <ol id="track-nav">
        <li><a data-ajax="false" 
               href="../overview/"
               >Overview</a></li>
        <% for (var i=0; i < vol_data.tracks.length; i += 3) { %>
          <li><a data-ajax="false" href="../<%= vol_data.tracks[i + 1] %>"
                 data-track="/play/volume-<%= vol_num %>/<%= vol_data.tracks[i + 2] %>"
                 ><%= vol_data.tracks[i] %></a></li>
        <% } %>
      </ol>
    </div><!-- ui-block-a -->
    <div class="ui-block-b">
       <div id="track-view">
        <!-- We'd have two layout modes...
           1) JQM style navigation, loading pages
           iphone
           tablet portrait
           2) Navigation + Ajax / push state stuff
           tablet landscape

      Ghetto style - have ol on every page and literally load them
      Better - have link handlers and preventDefault based on width
           -->
      </div>
    </div><!-- ui-block-b -->
  </div><!-- /content -->
</div><!-- /page -->